*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Heebo , sans-serif;
    background-color: #ffffff;
    color: #21243D;
}
/*NAVIGATION BAR*/
nav ul{
    margin: 9px 0;
    padding-right: 40px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    padding-left: 36px;
    padding-right: 0px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
nav ul li a:hover {
    color: #e23030;
}
/*FONT FAMILY SIZE IN DIFFERENT FORMATS*/
.heebo-regular16 {
    font-family: Heebo , sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
}
.heebo-regular20-col-b {
    font-family: Heebo , sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #21243D;
    display: flex;
}
.heebo-regular20-col-a {
    font-family: Heebo , sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #8695A4;
}
.heebo-bold44{
    font-family: Heebo , sans-serif;
    font-weight: 700;
    font-size: 44px;
    width: 57px;
}
.heebo-medium30 {
    font-family: Heebo , sans-serif;
    font-weight: 500;
    font-size: 30px;
    font-weight: medium;
    color: #21243D;
}
/*HERO SECTION*/
.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
}
.hero-section h1 { 
    margin-top: 60px; 
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 40px;
}
.main-container {
    font-family: Heebo , sans-serif;
    width: 682;
    margin: auto;
    margin-bottom: 58px;
}
.blog-section {
    display: flex;
    margin-bottom: 0px;
}
.blog-section-seperate {
    border-bottom: 1px solid #E0E0E0;
}
.seperator {
    margin-top: 0;
    display: flex;
}
section {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    justify-content:space-between;
    margin-top: 0;
}
.heeho-regular20{
    color: #8695A4;
    font-size: 18pxpx;
}
div h2, div h1, div h3, div p {
    margin-top: 0;
}
 /*FOOTER SECTION*/
footer {
    text-align: center;
    padding: 50px 0;
}

.icon-main {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icons-main img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 15px;
}

.copy {
    font-size: 14px;
     color: #21243D 
}